 
 .tabela-produtos-moda th 
    {
    background-color: #BB86FC;
    color:white;
    padding:10px;
      
    
    }
    .tabela-produtos-moda td
    
     {
        background-color: #424250;
        color:white;
        padding: 10px;
        
    }
    .tabela-produtos-casa th {
        background-color: #00C4B4;
        color:white;
        padding:10px;
    }
    .tabela-produtos-casa td{
        background-color: #424250;
        color:white;
        padding: 10px;
    }
    
    
    
